/* CUSTOM CSS */

/* ===============================

Discography Website
Q2.2 Project
Luke Atkinson

-----------------------------------

COLOR SWATCHES

White - #FFF
Black - #000
Daft Punk Gold - #D4A50A
Fancy Footer Gray - #3B3B3B

-----------------------------------

FONTS

Kabana Bold Regular (available for free online and packaged by FontSquirrel.com)
Open Sans (available from Google Web Fonts)

=============================== */

/*==========================================================  DESKTOP STYLES  ==========================================================*/

@font-face {
    font-family: 'kabana';
    src: url('../_fonts/kabana-bold-webfont.eot');
    src: url('../_fonts/kabana-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kabana-bold-webfont.woff2') format('woff2'),
         url('../_fonts/kabana-bold-webfont.woff') format('woff'),
         url('../_fonts/kabana-bold-webfont.ttf') format('truetype'),
         url('../_fonts/kabana-bold-webfont.svg#kabana_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, p {
    font-family: 'kabana', sans-serif;
    font-weight: 300;
}

h3  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

div p   {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
}

div h2  {font-size: 3em;}
div h3  {font-size: 2.5em;}

/*-------------------------- NAV STYLES --------------------------*/
.nav {
    background-color: #201919;
    border-bottom: thin solid #2b2525;
    color: #fff;
    width: 100%;
}

.nav-logo   {
    float: left;
    margin: 1em 3em 0 3em;
    width: 150px;

}

nav ul li {
    display: inline;
    font-family: 'kabana', sans-serif;
    font-size: 1.25em;
    line-height: 103px;
    list-style-type: none;
    margin-right: 1.75em;
}

li a    {
    color: #fff;
}

li a:hover  {
    color: #D4A50A;
    text-decoration: none;
}
.login{
    color: #fff;
    float: right;
}

/*-------------------------- JUMBOTRON --------------------------*/


.main   {
    background: url(../_img/daft-punk_main.jpg) no-repeat;
    background-size: 100%;
    text-align: center;
}

.quote  {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

section    {
    background: rgba(212,165,10,.75);
    color: #FFF;
}

/*-------------------------- BAND PROFILE STYLES --------------------------*/

#member1    {
    margin-left: -2.5em;
    width: 90%;
}

#member2    {
    margin-left: 15em;
    width: 70%;
}

#offset     {
    margin-left: -3em;
}

/*-------------------------- ALBUM STYLES --------------------------*/

.albums  {
    background: #D4A50A;
    color: #fff;
    text-align: center;
}

.albums h2  {font-size: 2em;}
.albums p   {font-size: 1.5em;}

.album-cover    {
    border-bottom: white 4px solid;
    width: 100%;
}

div div p   {
    font-weight: 400;
}

div div h2  {
    color: #fff;
    text-decoration: underline;
}

.bio    {       /*corrects bio header*/
    color: #000;
    text-decoration: none;
}

/*-------------------------- MAILING FORM STYLES --------------------------*/

.form {
    background-image: url(../_img/daft_punk-bg.jpg);
    background-size: cover;
    text-align: center;
    width: 100%
}

.form-header    {
    text-decoration: none;
}

.form-container {
    background: #404040;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#404040));
    background: -webkit-linear-gradient(top, #333333, #404040);
    background: -moz-linear-gradient(top, #333333, #404040);
    background: -ms-linear-gradient(top, #333333, #404040);
    background: -o-linear-gradient(top, #333333, #404040);
    background-image: -ms-linear-gradient(top, #333333 0%, #404040 100%);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 5px solid #d4a50a;
    border-radius: 0px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    margin: 2em auto;
    padding: 2em;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    width: 40%;
}

.form-field {
    background: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 1px solid #45423f;
    border-radius: 6px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    margin-bottom: .75em;
    padding: .5em;
    width: 70%;
}

.comment-field {
    background: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 1px solid #45423f;
    border-radius: 6px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    margin-bottom: .75em;
    padding: .5em;
    width: 95%;
}

.bday-field {
    background: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 1px solid #45423f;
    border-radius: 6px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
    margin-bottom: .75em;
    padding: .5em;
    width: 33%;
}


.form-field:focus {
   background: #fff;
   color: #000000;
}

.form-container h2{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 1em 0;
    text-align: center;
    text-shadow: #454545 0 1px 0;
}

.form-title {
    color: #ffffff;
    display: block;
    font-size: 1em;
    margin: .8em 0 0;
    margin-bottom: .25em;
    text-shadow: #454545 0 1px 0;
}

.form-radio {
    color: #fff;
}

.submit-container {
    margin: 1em auto;
    text-align: center;
    width: 30%;
}

.submit-button {
    border: 0px solid #2e2e2e;
    background: #d4a50a;
    background: -webkit-gradient(linear, left top, left bottom, from(#d4a50a), to(#d4a50a));
    background: -webkit-linear-gradient(top, #d4a50a, #d4a50a);
    background: -moz-linear-gradient(top, #d4a50a, #d4a50a);
    background: -ms-linear-gradient(top, #d4a50a, #d4a50a);
    background: -o-linear-gradient(top, #d4a50a, #d4a50a);
    background-image: -ms-linear-gradient(top, #d4a50a 0%, #d4a50a 100%);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #828282 0 1px 0;

    color: #ffffff;
    font-family: helvetica, serif;
    font-size: 14px;
    padding: .5em 1.5em;
    text-decoration: none;
    width: 100%;
    vertical-align: middle;
}

.submit-button:hover {
    border: 0px solid #d4a50a;
    background: #c7c7c7;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c7c7c7));
    background: -webkit-linear-gradient(top, #ffffff, #c7c7c7);
    background: -moz-linear-gradient(top, #ffffff, #c7c7c7);
    background: -ms-linear-gradient(top, #ffffff, #c7c7c7);
    background: -o-linear-gradient(top, #ffffff, #c7c7c7);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #c7c7c7 100%);
    color: #858585;
    text-shadow: #ffffff 0 1px 0;
}

.submit-button:active {
    border: 0px solid #d4a50a;
    background: #a3a3a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c7c7c7));
    background: -webkit-linear-gradient(top, #ffffff, #a3a3a3);
    background: -moz-linear-gradient(top, #ffffff, #a3a3a3);
    background: -ms-linear-gradient(top, #ffffff, #a3a3a3);
    background: -o-linear-gradient(top, #ffffff, #a3a3a3);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #a3a3a3 100%);
    color: #8c8c8c;
    text-shadow: #ffffff 0 1px 0;
}
/*Code by Tyler*/
/* Fixes form styling when error messages appear */
.form-information{
    color: #fff;
    font-size: .9em;
    text-align: center;
}
.thank-you{
    background: #000;
}
.thank-you-msg{
    top: 250px;
}
.error{
    background: #000;
    color: #fff;
    line-height: .00001em;
}
#error-area{
   background: #000;
}
/*-------------------------- FOOTER STYLES --------------------------*/

.footer  {
    background: #3B3B3B;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.footer-copy    {
    border-right: white solid 1px;
}

/*==========================================================  TABLET STYLES  ==========================================================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

.jumbo-logo  {
    margin-bottom: -2em;
    width: 30%;
}

.album-cover    {
    border-bottom: white 4px solid;
    margin: 3em auto;
    width: 70%;
}

.form-container {
    width: 80%;
}

.form   {
    background: url(../_img/daft_punk-bg.jpg);
    background-size: cover;
    background-position: bottom;
}

.footer-copy    {
    border-right: none;
}

}

/*==========================================================  MOBILE STYLES  ==========================================================*/

@media screen and ( max-width: 767px ) {

.jumbo-logo  {
    margin-bottom: -6em;
    margin-top: 1em;
    width: 50%;
}

section    {
    background: rgba(212,165,10,.75);
    color: #FFF;
}

.album-cover    {
    border-bottom: white 4px solid;
    margin: 3em auto;
    width: 70%;
}

.form-container {
    width: 80%;
}

.form   {
    background: url(../_img/daft_punk-bg.jpg);
    background-size: cover;
    background-position: bottom;
}

.footer-copy    {
    border-right: none;
}




